/*
    Scorebot v3: Scoreboard CSS

 */

body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  color: rgb(255, 255, 255);
  background: rgb(11,24,14); /*rgb(17,43,26);*/
}
.sbmeme {
  padding: 5px;
  max-width: 350px;
  max-height: 350px;
}
.sbtweeth {
  color: #000000;
  width: 250px;
  margin: auto;
  background: #FFFFFF;
}
.sbtweet {
  padding: 15px; 
}
#msg {
  margin-top: 5px;
}
#sb3_credits {
  margin-top: 10px;
  text-align: center;
}

#sb3_main {
  margin: 5px 5px 5px 5px;
}
#sb3_game {
  text-align: center;
}
#sb3_header {
  border-bottom: 2px solid rgb(62,146,46);
}
#sb3_message {
  display: block;
  overflow: hidden;
  text-align: left;
  text-overflow: clip;
  white-space: nowrap;
}
#sb3_content table {
  width: 100%;
}
#sb3_messages {
  margin-left: 5px;
}
#sb3_game_td {
  vertical-align: top;
}
#sb3_game_title {
  font-size: 20pt;
  margin: 10px 0 10px 0;
}
#sb3_message_text {
  font-size: 25px;
  position: relative;
}
#sb3_messages_td {
/*  width: 200px;
  max-width: 200px;*/
  vertical-align: top;
}

.sb3_team {
  font-size: 15px;
  display: inline-block;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  background: rgb(25,30,36);
}
.sb3_team_info {
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid rgb(62,146,46);
}
.sb3_team_info_off {
  float: right;
  background: url('img/offense.png') no-repeat;
  width: 25px;
  height: 25px;
}
.sb3_team_health_left {
  min-width: 100px;
  min-height: 100px;
  vertical-align: middle;
}
.sb3_team_health_status_offline {
  color: rgb(231,47,23);
}
.sb3_team_logo {
  width: 100px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
}
.sb3_team_health_status_name {
  text-align: right !important;
  border-radius: 0px !important;
  padding-right: 5px !important;
}
.sb3_team_health_status_bonus {
  background: rgb(66,66,66);
}
.sb3_team_health_status_red {
  color: rgb(255, 255, 255);
  background: rgb(187,35,11);
}
.sb3_team_health_status_green {
  color: rgb(255, 255, 255);
  background: rgb(62,146,46);
}
.sb3_team_health_status_yellow {
  color: rgb(255, 255, 255);
  background: rgb(187,179,11);
}
.sb3_team_health_status_bonus {
  color: rgb(248, 221, 154);
}
.sb3_team_stats {
  border-top: 1px solid rgb(62,146,46);
}
.sb3_team_stats table {
  width: 100%;
}
.sb3_team_stats td {
  text-align: left;
  padding-left: 25px;
}
.sb3_team_health_stats td {
  border-radius: 1px;
  text-align: center;
  padding: 1px 2px 1px 2px;
}
.sb3_team_status_flags {
  padding-right: 25px;
  color: rgb(231,47,23);
  background: url('img/flag.png') no-repeat;
}
.sb3_team_status_taken {
  color: rgb(255,255,255);
}
.sb3_team_status_tickets {
  padding-right: 25px;
  background: url('img/ticket.png') no-repeat;
}
.sb3_team_status_beacons {
  padding: 0;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  max-width:150px;
}
.sb3_team_status_lost {
  color: rgb(231,47,23);
}
.sb3_team_right {
  margin-left: 5px;
  border-left: 1px solid black;
}
.sb3_team_stats table tr {
  height: 25px;
}
.sb3_team_stats td {
  vertical-align: middle;
  min-width: 50px;
}

td.sb3_score_health {
  background: url('img/health.png') no-repeat;
}

td.sb3_score_beacons {
  background: url('img/beacon.png') no-repeat;
}

td.sb3_score_tickets {
  background: url('img/ticket.png') no-repeat;
}

td.sb3_score_flags {
  background: url('img/flag.png') no-repeat;
}
